<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="registrationPoint">
                    <security mode="None" />
                </binding>
                <binding name="authenticationPoint">
                    <security mode="None" />
                </binding>
                <binding name="dataExchangePoint">
                    <security mode="None" />
                </binding>
                <binding name="creationPoint">
                    <security mode="None" />
                </binding>
                <binding name="communityPoint">
                    <security mode="None" />
                </binding>
                <binding name="notificationPoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5002/registrationService/registration"
                binding="netTcpBinding" bindingConfiguration="registrationPoint"
                contract="RegistationService.IRegistrationContract" name="registrationPoint" />
            <endpoint address="net.tcp://localhost:5002/authenticationService/authentication"
                binding="netTcpBinding" bindingConfiguration="authenticationPoint"
                contract="AuthenticationService.IAuthenticationContract" name="authenticationPoint" />
            <endpoint address="net.tcp://localhost:5002/dataExchangeService/dataExchange"
                binding="netTcpBinding" bindingConfiguration="dataExchangePoint"
                contract="DataExchangeService.IDataExchangeContract" name="dataExchangePoint" />
            <endpoint address="net.tcp://localhost:5002/creationService/creation"
                binding="netTcpBinding" bindingConfiguration="creationPoint"
                contract="CreationService.ICreationContract" name="creationPoint" />
            <endpoint address="net.tcp://localhost:5002/communityService/community"
                binding="netTcpBinding" bindingConfiguration="communityPoint"
                contract="CommunityService.ICommunityContract" name="communityPoint" />
            <endpoint address="net.tcp://localhost:5002/notificationService/notification"
                binding="netTcpBinding" bindingConfiguration="notificationPoint"
                contract="NotificationService.INotificationContract" name="notificationPoint" />
        </client>
    </system.serviceModel>
</configuration>