<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="MsSqlConnectionString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=HoggyDB;Integrated Security=true;MultipleActiveResultSets=True"/>
  </connectionStrings>
  
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="TCPBehavior">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="HoggyServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.AuthenticationService">

        <endpoint behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="TCPBehavior" name="servicePoint" contract="WcfServiceLibrary.Contracts.IAuthenticationContract" listenUriMode="Explicit" />

        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="mexPoint" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/service" />
            <add baseAddress="net.tcp://localhost:5002/service" />
            <!--<add baseAddress="http://31.131.29.30:5001/service" />
            <add baseAddress="net.tcp://31.131.29.30:5002/service" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>