<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="MsSqlConnectionString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=HoggyDB;Integrated Security=true;MultipleActiveResultSets=True;Pooling=false"/>
  </connectionStrings>
  
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="TCPBehavior">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="HoggyServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.AuthenticationService">
        <endpoint address="authentication" behaviorConfiguration="" binding="netTcpBinding"
          bindingConfiguration="TCPBehavior" name="authenticationPoint"
          contract="WcfServiceLibrary.Contracts.IAuthenticationContract"
          listenUriMode="Explicit" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/authenticationService" />
            <add baseAddress="net.tcp://localhost:5002/authenticationService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.CreationService">
        <endpoint address="creation" behaviorConfiguration="" binding="netTcpBinding"
          bindingConfiguration="TCPBehavior" name="creationPoint" contract="WcfServiceLibrary.Contracts.ICreationContract"
          listenUriMode="Explicit" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/creationService" />
            <add baseAddress="net.tcp://localhost:5002/creationService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.CommunityService">
        <endpoint address="community" behaviorConfiguration="" binding="netTcpBinding"
          bindingConfiguration="TCPBehavior" name="communityPoint" contract="WcfServiceLibrary.Contracts.ICommunityContract"
          listenUriMode="Explicit" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/communityService" />
            <add baseAddress="net.tcp://localhost:5002/communityService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.RegistrationService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <endpoint address="registration" binding="netTcpBinding" bindingConfiguration="TCPBehavior"
          name="registrationPoint" contract="WcfServiceLibrary.Contracts.IRegistrationContract"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/registrationService" />
            <add baseAddress="net.tcp://localhost:5002/registrationService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.DataExchangeService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <endpoint address="dataExchange" binding="netTcpBinding" bindingConfiguration="TCPBehavior"
          name="dataExchangePoint" contract="WcfServiceLibrary.Contracts.IDataExchangeContract"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/dataExchangeService" />
            <add baseAddress="net.tcp://localhost:5002/dataExchangeService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.NotificationService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <endpoint address="notification" binding="netTcpBinding" bindingConfiguration="TCPBehavior"
          name="notificationPoint" contract="WcfServiceLibrary.Contracts.INotificationContract"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/notificationService" />
            <add baseAddress="net.tcp://localhost:5002/notificationService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.DeletionService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <endpoint address="deletion" binding="netTcpBinding" bindingConfiguration="TCPBehavior"
          name="deletionPoint" contract="WcfServiceLibrary.Contracts.IDeletionContract"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/deletionService" />
            <add baseAddress="net.tcp://localhost:5002/deletionService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.EditionService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexPoint" contract="IMetadataExchange" />
        <endpoint address="eddition" binding="netTcpBinding" bindingConfiguration="TCPBehavior"
          name="editionPoint" contract="WcfServiceLibrary.Contracts.IEditionContract"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/editionService" />
            <add baseAddress="net.tcp://localhost:5002/editionService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>