<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defaultAvaPath" value="..\Resources\default_ava.jpg" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="authenticationPoint">
                    <security mode="None" />
                </binding>
                <binding name="creationPoint">
                    <security mode="None" />
                </binding>
                <binding name="communityPoint">
                    <security mode="None" />
                </binding>
                <binding name="registrationPoint">
                    <security mode="None" />
                </binding>
                <binding name="dataExchangePoint">
                    <security mode="None" />
                </binding>
                <binding name="notificationPoint">
                    <security mode="None" />
                </binding>
                <binding name="deletionPoint">
                    <security mode="None" />
                </binding>
                <binding name="editionPoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5002/authenticationService/authentication"
                binding="netTcpBinding" bindingConfiguration="authenticationPoint"
                contract="AuthenticationService.IAuthenticationContract" name="authenticationPoint" />
            <endpoint address="net.tcp://localhost:5002/creationService/creation"
                binding="netTcpBinding" bindingConfiguration="creationPoint"
                contract="CreationService.ICreationContract" name="creationPoint" />
            <endpoint address="net.tcp://localhost:5002/communityService/community"
                binding="netTcpBinding" bindingConfiguration="communityPoint"
                contract="CommunityService.ICommunityContract" name="communityPoint" />
            <endpoint address="net.tcp://localhost:5002/registrationService/registration"
                binding="netTcpBinding" bindingConfiguration="registrationPoint"
                contract="RegistrationService.IRegistrationContract" name="registrationPoint" />
            <endpoint address="net.tcp://localhost:5002/dataExchangeService/dataExchange"
                binding="netTcpBinding" bindingConfiguration="dataExchangePoint"
                contract="DataExchangeService.IDataExchangeContract" name="dataExchangePoint" />
            <endpoint address="net.tcp://localhost:5002/notificationService/notification"
                binding="netTcpBinding" bindingConfiguration="notificationPoint"
                contract="NotificationService.INotificationContract" name="notificationPoint" />
            <endpoint address="net.tcp://localhost:5002/deletionService/deletion"
                binding="netTcpBinding" bindingConfiguration="deletionPoint"
                contract="DeletionService.IDeletionContract" name="deletionPoint" />
            <endpoint address="net.tcp://localhost:5002/editionService/eddition"
                binding="netTcpBinding" bindingConfiguration="editionPoint"
                contract="EditionService.IEditionContract" name="editionPoint" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>