<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="servicePoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5002/service" binding="netTcpBinding"
                bindingConfiguration="servicePoint" contract="AuthentificationService.IAuthenticationContract"
                name="servicePoint" />
        </client>
    </system.serviceModel>
</configuration>