<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
 
 <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="TCPBehavior">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="HoggyServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
       <service behaviorConfiguration="HoggyServiceBehavior" name="WcfServiceLibrary.Services.AuthenticationService">
          <endpoint address="authentication" behaviorConfiguration="" binding="netTcpBinding"
             bindingConfiguration="TCPBehavior" name="authenticationPoint"
             contract="WcfServiceLibrary.Contracts.IAuthenticationContract"
             listenUriMode="Explicit" />
          <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
             name="mexPoint" contract="IMetadataExchange" />
          <endpoint address="registration" binding="netHttpBinding" 
             bindingConfiguration="TCPBehavior"
             name="registrationPoint" contract="WcfServiceLibrary.Contracts.IRegistrationContract"
             listenUriMode="Explicit" />
         <endpoint address="dataExchange" binding="netHttpBinding" 
             bindingConfiguration="TCPBehavior"
            name="dataExchangePoint" contract="WcfServiceLibrary.Contracts.IDataExchangeContract"
             listenUriMode="Explicit" />
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:5001/service" />
                <add baseAddress="net.tcp://localhost:5002/service" />
             </baseAddresses>
          </host>
       </service>
    </services>
  </system.serviceModel>

</configuration>
